<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Daily Record System</title>
</head>
<body>
    <div class="container">
        <div class="sub-container4">
            <div>
                <a href="./second-page.html">
                <ul style="display: flex;">
                    <li><img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590436992/Vector_5_jfdiqu.svg" alt="arrow right"></li>
                    <li class="text-form" style="margin: auto; text-align: center;">Daily Record</li>
                </ul>
                </a>
            </div>
                

        <div>
            <p>Date</p>
            <p><input type="date" name="Date" ></p>
            

            <div class="contain-form">
            <ul>
                <li>
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435540/Vector_3_eujmml.svg" alt="pulse"> Birds alive
                </li>

                <li>
                    <i style="color: red; padding-left: 20px;" class="far fa-frown"></i> Birds dead
                </li>
            </ul>
            
            
            <ul>
                <li>
                    <input type="text" name="Birds alive">
                </li>

                <li style="padding-left: 20px;">
                    <input type="text" name="Birds dead">
                </li>
            </ul>
            </div>

            <div class="contain-form">
            <p><img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435540/Vector_1_xkuzqu.svg" alt="seedling"> Feed Consumption</p>

            <ul class="tiny">
                <li>Type</li>
                <li style="padding-left: 20px;">Amount</li>
            </ul>
            
            
            <ul>
                <li>
                    <input type="text" name="Type"><br><span><input type="submit" value="+ Add"></span>
                </li>

                <li style="padding-left: 20px;">
                    <input type="text" name="Amount"> lb
                </li>
            </ul>
            </div>
            
            <div class="contain-form">
            <p><img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435540/Vector_1_xkuzqu.svg" alt="seedling"> Water Consumption</p>

            <p><input type="text" name="Water consumption"> oz</p>
            </div>

            <div class="contain-form">
            <p>
                <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435544/Vector_2_beiveq.svg" alt="syringe"> Vaccinations
            </p>

            <ul class="tiny">
                <li>Type</li>
                <li style="padding-left: 20px;">Dose</li>
            </ul>

            <ul>
                <li>
                    <input type="text" name="Type"><br><span><input type="submit" value="+ Add"></span>
                </li>

                <li style="padding-left: 20px;">
                    <input type="text" name="Dose"> ml
                </li>
            </ul>
            </div>

            <div class="contain-form">
            <p>
                <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435544/Vector_2_beiveq.svg" alt="syringe"> Drugs
            </p>

            <p class="tiny">Type</p>
            <p><input type="text" name="Type"></p>
            <span><input type="submit" value="+ Add"></span>
            </div>
        </div>
        </div>
        
        <div class="check">
            <a href="./second-page.html">
            <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590447073/Vector_6_pohe91.svg" alt="check" width="30px">
            </a>
        </div>
    </div>
</body>
</html>