<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Daily Record System</title>
</head>
<body>
    <div class="container">
        <div class="sub-container2">
            <div>
                <ul style="display: flex;">
                    <li><img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590436992/Vector_5_jfdiqu.svg" alt="arrow right"></li>
                    <li class="text" style="margin: auto; text-align: center;">Daily Record</li>
                </ul>
            </div>

        <div class="section-1">
            <ul>
                <li class="happy">
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435540/Vector_3_eujmml.svg" alt="pulse"> 240
                </li>

                <li><img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435540/Vector_1_xkuzqu.svg" alt="seedling"> 200lb</li>

                <li class="syringe">
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435544/Vector_2_beiveq.svg" alt="syringe"> 2
                </li>

            </ul>

            <ul>
                <li class="sad">
                    <i class="far fa-frown"></i> 4
                </li>

                <li>
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435548/Vector_wcdf8e.svg" alt="egg"> 100oz
                </li>

                <li></li>

                <li>May 22</li>
            </ul>
            <hr>

            <ul>
                <li class="happy">
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435540/Vector_3_eujmml.svg" alt="pulse"> 240
                </li>

                <li>
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435540/Vector_1_xkuzqu.svg" alt="seedling"> 200lb
                </li>

                <li class="syringe">
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435544/Vector_2_beiveq.svg" alt="syringe"> -
                </li>
            </ul>

            <ul>
                <li class="sad">
                    <i class="far fa-frown"></i> 14
                </li>

                <li>
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435548/Vector_wcdf8e.svg" alt="egg"> 100oz
                </li>

                <li></li>

                <li>May 21</li>
            </ul>
            <hr>

            <ul>
                <li class="happy">
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435540/Vector_3_eujmml.svg" alt="pulse"> 210
                </li>

                <li>
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435540/Vector_1_xkuzqu.svg" alt="seedling"> 200lb
                </li>

                <li class="syringe">
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435544/Vector_2_beiveq.svg" alt="syringe"> 8
                </li>
            </ul>

            <ul>
                <li class="sad">
                    <i class="far fa-frown"></i> 12
                </li>

                <li>
                    <img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435548/Vector_wcdf8e.svg" alt="egg"> 100oz
                </li>

                <li></li>

                <li>May 20</li>
            </ul>
            <hr>
        </div>

        </div>

        <section>
            <a href="./form.html"><img src="https://res.cloudinary.com/ninyhorlah/image/upload/v1590435540/Vector_4_bcepxb.svg" alt="Add image"></a>
        </section>
    </div>
</body>
</html>